{{ define "content" }}
<h1>Join Us!</h1>
<form action="/register" method="POST" enctype="multipart/form-data">
    <!-- CSRF TOKEN -->
     <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

     <!-- Username -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Hacker Alias">

        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">

        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">

        <label for="password_confirm">Confirm Password</label>
        <input type="password" name="password_confirm" class="form-control" id="password_confirm" placeholder="Confirm password">

        <label for="profile_picture"> Profile Image (PNG/JPG): </label>
        <input type="file" name="profile_picture" class="form-control" id="profile_picture">

        <button type="submit" class="btn btn-primary">Join Sy-Fi Networks</button>
        </div>
</form>
{{ end }}
